<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <style>
        body{
            text-align: center;
            background-color: aliceblue;
            color: red;
            button{
              border-radius: 5px;
              font-size: large;
            }
        }
    </style>
</head>
<body>
    <h1>sory this link is expired. it's only valid for 1 hour after receiving. please confirm if the account is already verified by logging in.
        if it's not verified youll have an option to get a new valid link. thanks for using our platform</h1>
    <button onclick="location.replace('https:\/\/electronics.3liud.org')">visit home page</button>
</body>
</html>