<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <style>
        body{
            text-align: center;
            background-color: aliceblue;
            color: green;
            button{
              border-radius: 5px;
              font-size: large;
            }
        }
    </style>
</head>
<body>
    <h1>your order was verified</h1>
    <h1>we will reach out once the delivery is approved and then when the delivery starts via the this email address. thanks for using our service</h1>
    <button onclick="location.replace('https:\/\/electronics.3liud.org')">visit home page</button>
</body>
</html>